.SiteHeader .active{
         color: #000;
        font-weight:700;
}
.SiteHeader a{
	font-size: 1.125rem!important;
        font-weight: 500;
        margin-right: 1rem;
        color: #657786;

}
.btn-primary{
background-color:
	background: -webkit-linear-gradient(
34deg
,#ffd518,#ffaa0a) #ffd518;
        background: linear-gradient(
56deg
,#ffd518,#ffaa0a) #ffd518;
        border:none;
}

img{width: 100%}
body{font:18px/1.85em 'Open Sans',Arial,Helvetice Neue,sans-serif; color:#888888; font-style:normal; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:100%;}
a,a:hover,a:focus{text-decoration:none; -webkit-transition:all 150ms ease-in; -moz-transition:all 150ms ease-in; -o-transition:all 150ms ease-in; transition:all 150ms ease-in;}
h1,h2,h3,h4,h5,h6{font-family:'Open Sans',Arial,Helvetice Neue,sans-serif;}
h1{width:100%; font-size:36px; color:#747474; text-align:center;}

.blue{color:#06F; font-weight:normal;}
.green{color:#0A0; font-weight:normal;}
.clear{clear:both;}
.di_marginbot{margin-bottom:50px;}
.di_topbar{width:100%; background:url(../images/di-topbar-bg.png) repeat-x; position:fixed; z-index:10; top:0;}

.di_headerimage{width:100%; margin-top:50px; position:relative;}
.di_headerimage img{width:100%;}
.di_blackoverlay{opacity:0.6; width:100%; height:100%; ; position:absolute; top:53px;}

.di_titlewrapper{top:0; width:100%; left:0;}
.di_title{position:absolute; height:150px; line-height:84px; float:left; display:block; width:100%; text-align:center; font-size:50px; color:#ffffff; top:0; left:0;}
.di_title span{display:block; height:150px;}

.di_menu{position:relative; top:10%;}
.di_topbar .navbar-default{border:none; background:none;}
.di_topbar .navbar{border-radius:0;}
.di_topbar .navbar-nav{float:none; margin:0 auto;}
.di_topbar .navbar-default .navbar-nav>li>a{color:#ffffff;}
.di_topbar .navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{color:#ececec;}
#top-menu li.active a{background:#fd704e; opacity:0.8; color:#FF6;}
#top-menu a:hover{background:#fd704e; opacity:0.8; color:#FF6;}
.navbar-collapse{box-shadow:none;}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.di_homewrapper{}
.di_hometitle{text-align:center; margin-bottom:20px;}
.di_hometext{text-align:center; margin:0 auto;}
.di_homebutton{background:#ee785c; padding:15px 0; text-align:center; font-size:20px; border-radius:5px; width:150px; color:#e3e3e3;}
.di_homebutton a{color:#e3e3e3;}
:hover.di_homebutton{background:#e46142; cursor:pointer;}

.di_servicewrapper{background:#f0eeee; padding:50px 0 50px 0; width:100%; text-align:center;}
.di_servicebox{background:#ffffff; border-radius:5px; padding:25px;}
.di_serviceicon{background:#e46142; color:#ffffff; width:80px; height:80px; margin:0 auto; border-radius:5px; font-size:40px; line-height:80px; text-align:center;}
.di_service_title{font-size:18px; margin:15px 0 5px 0; color:#575757;}

.di_workwrapper{width:100%;text-align:center;}
.di_workmargin{margin-bottom:50px;  margin-bottom: 50px;font-size: 20px;color: #333;}
.di_workbox{float:left;}
.di_workbox img{width:100%;}
.di_worktitle{margin-top:15%; font-size:18px; font-weight:bold; color:#ffffff;}
.di_workdes{color:#ffffff; margin-top:10px;font-size: 16px;font-weight: 600}
.di_worklink{padding:25px; font-size:30px; background:#e2826a; display:inline-block; border-radius:3px; text-align:center; margin-top:10px;}

.di_team_wrapper{width:100%; padding:70px 0 50px 0; text-align:center;}
.di_team_name{font-size:16px; color:#e46142; margin-top:10px;}
.di_team_post{font-size:14px;}

.di_contactwrapper{padding:100px 0 30px 0;}
#di_map{height:250px; width:100%; margin-top:20px;}
.di_contactmargin{margin-top:30px;}
.di_address_title{float:left; width:100%; margin:0 0 20px 0;}
.di_address_left{float:left; width:30%; font-size:14px; margin-top:10px;}
.di_address_right{float:left; width:70%; font-size:14px; margin-top:10px;}
.di_contactwrapper input,textarea{width:100%; border:1px solid #e2e2e2; margin-top:10px; padding:5px;}
.di_contactwrapper textarea{height:120px;}
.di_sendbtn{background:#e46142; color:#fff; padding:7px 25px; float:left;}

.di_footerwrapper{background-image: linear-gradient(
-25deg
, #00BCD4, #009CDE); color:#fff; width:100%; padding:20px 0; margin-top:50px;}
.di_footerwrapper a{color:#fff;}
.di_footerwrapper a:hover{color:#FC3;}
.di_social{width:125px; margin:0 auto; padding:0;}

/*------------------------------------------------------
Flexslider Overrides 
--------------------------------------------------------*/
.main-slider{width:100%; margin-top:0;}
.flexslider ul{padding:0;}
.flexslider ul li{padding:0;}
.flexslider .slides{}
.slider-caption{position:absolute; vertical-align:middle; width:100%; text-align:center; z-index:8; color:#fff; top:180px;font-size: 20px}
.slider-caption h2{font-size:48px; text-transform:uppercase; font-weight:800; margin-bottom:30px;}
.slider-caption p{font-size:16px; text-transform:uppercase; letter-spacing:2px; width:50%; margin:0 auto 30px auto; line-height:1.8em;}
.flexslider{background-color:#371604; overflow:hidden; margin:0;}
.flexslider img{position:relative; opacity:0.5; width:100%; z-index:7;}
.flex-control-nav{bottom:15px; z-index:9;}
.flex-control-paging li{list-style:none;}
.flex-control-paging li a{background:none; border:none; opacity:0;}
.flex-control-paging li a:hover{opacity:1; background:white;}
.flex-control-paging li a.flex-active{opacity:0; background:none;}

/*------------------------------------------------------
Gallery Styles 
--------------------------------------------------------*/
.gallery-item{margin-bottom:0; position:relative; overflow:hidden;}
.gallery-item .content-gallery{text-align:center;}
.gallery-item .content-gallery h3{color:#b10021; font-size:16px; font-weight:300; margin-top:5px; padding-bottom:5px; display:inline-block;}
.gallery-item img{width:100%;}
.gallery-item .overlay{position:absolute; top:0; left:0; width:100%; min-width:100%; min-height:100%; height:100%; background-color:rgba(229,97,66,0.9); display:block; -webkit-transition:all 50ms ease-in-out; -moz-transition:all 50ms ease-in-out; -ms-transition:all 50ms ease-in-out; -o-transition:all 50ms ease-in-out; transition:all 50ms ease-in-out;}
.gallery-item .overlay a{color:#ffffff; text-align:center; line-height:32px; position:absolute; margin-top:-16px; margin-left:-10px; font-size:24px;}

/*------------------------------------------------------
Media Queries 
--------------------------------------------------------*/
@media (max-width:767px){
	.di_titlewrapper{display:none;}
	.di_titlewrappersmall{float:left; font-size:28px; color:#ffffff; line-height:50px; margin-left:20px;}
	.di_topbar .container-fluid>.navbar-collapse{background:#ca482a; opacity:0.9; border:none;}
	.di_topbar .navbar-default .navbar-nav>li>a{font-size:14px; padding:10px 10px; border-bottom:1px solid #e46142;}
	.margin_bottom_1col{margin-bottom:20px;}
	.margin_bottom_2col{margin-bottom:0;}
	#top-menu{background:#ca482a; margin:0 -15px; opacity:0.9;}
	.di_topbar .navbar-default .navbar-toggle .icon-bar{background-color:#ffffff;}
	}

@media (max-width:991px){
	.di_homewrapper{display:none;}
	.margin_bottom_2col{margin-bottom:20px;}
	}

@media (max-width:319px){
	.slidernav a.previous{left:0%;}
	.slidernav a.next{right:0%;}
	}

@media (min-width:320px){
	.di_workbox{width:100%;}
	.slidernav a.previous{left:3%;}
	.slidernav a.next{right:2%;}
	}

@media (min-width:768px){
	.di_topbar{height:35px;}
	.di_headerimage{margin-top:35px;}
	.di_title{font-size:32px; line-height:50px;}
	.di_topbar .navbar-nav{width:600px;}
	.di_titlewrappersmall{display:none;}
	.di_topbar .navbar{position:relative; top:-35px;}
	.di_workbox{width:50%;}
	.di_topbar .navbar-default .navbar-nav>li>a{color:#ffffff; font-size:14px; padding:5px 25px;}
	.slidernav a.previous{left:2%;}
	.slidernav a.next{right:1%;}
	}

@media (min-width:992px){
	.di_topbar{height:50px;}
	.di_headerimage{margin-top:50px;}
	.di_title{font-size:40px; line-height:60px;}
	.di_homewrapper{display:block;}
	.di_homewrapper{top:0%; width:100%;}
	.di_hometitle{font-size:26px; margin-top:10px;}
	.di_hometext{text-align:center; font-size:16px; margin:0 auto; width:90%;}
	.di_homebutton{margin:40px auto 0 auto; padding:10px 0; font-size:18px; width:130px;}
	/*.di_workbox{width:25%;}*/
	.di_workbox{width: 24%;margin-right: 0.5%;margin-left: 0.5%;}
	.di_topbar .navbar{position:relative; top:-45px;}
	.di_topbar .navbar-default .navbar-nav>li>a{color:#ffffff; font-size:17px; padding:10px 25px;font-weight: 700}
	.slidernav a.previous{left:3%;}
	.slidernav a.next{right:2%;}
	.di_worktitle{margin-top:5%; font-size:16px; font-weight:bold; color:#ffffff;}
	}

@media (min-width:1200px){
	.di_title{font-size:50px; line-height:84px;}
	.di_homewrapper{top:0%; width:100%;}
	.di_hometitle{font-size:40px; margin-top:40px;}
	.di_hometext{text-align:center; font-size:16px; margin:0 auto; width:80%; line-height:30px;}
	.di_homebutton{margin:40px auto 20px auto; font-size:18px;}
	.di_topbar .navbar{position:relative; top:-55px;}
	.di_topbar .navbar-default .navbar-nav>li>a{color:#ffffff; font-size:16px; padding:15px 25px;}
	.slidernav a.previous{left:11%;}
	.slidernav a.next{right:10%;}
	.di_worktitle{margin-top:15%; font-size:18px; font-weight:bold; color:#ffffff;}
	}

@media (min-width:1400px){
	.di_homewrapper{top:0%; width:100%;}
	.di_hometitle{font-size:42px; margin-top:80px;}
	.di_hometext{text-align:center; font-size:18px; margin:0 auto; width:70%; line-height:30px;}
	.di_homebutton{margin:70px auto 20px auto;}
	.slidernav a.previous{left:15%;}
	.slidernav a.next{right:15%;}
	}
	.hero-row[_ngcontent-c5] {
        position: relative;
        background-color: #009cde;
        background-image: radial-gradient(circle farthest-side at 58% 81%,#009cde,#0b4782 125%);
        color: #fff;
        margin-top: 102px;
}
